@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* VARIABLES */
:root {
    --primary-color: #c04ae2;
    --secondary-color: #111111;
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

/* RESET DEFAULT STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--secondary-font);
    margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: var(--primary-color);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.btn {
    display: inline-block;
    max-width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-primary:hover {
    background-color: #a03dd1;
}

.btn-secondary {

    border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.section-subheading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.section-heading {
    font-size: 3rem;
    max-width: 600px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.section-heading.left {
    margin-right: auto;
}

.section-heading.right {
    margin-left: auto;
}



/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--secondary-color);
}

section {
    position: relative;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;

}

/* HEADER */
.header{
    padding: 1rem 0;
    width: 100%;
    position: absolute;
    z-index: 999;
}

header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__logo img{
    width: 100px;
}

.header__menu{
    gap: 1rem;
}

.header__menu li a{
    font-size: 0.8rem;
    font-weight: 600;
    transition: color 0.3s;
}

.header__menu li a:hover{
    color: var(--primary-color);
}

header .right {
    gap: 1rem;
}

.menu-btn{
    display: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.logo__humanopuente{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* HERO */

#hero{
    min-height: 100vh;
}

.hero__content{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__content h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero__content p{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.hero__img{
    padding: 30px;
    width: 50%;
    -webkit-filter: drop-shadow(1px 5px 7px #666666);
    filter: drop-shadow(1px 5px 7px #666666);
}

/* ABOUT */

.features{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
}

.feature{
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid var(--color);
}

.feature__icon{
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 1rem;
}

.feature__title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature__text{
    font-size: 0.9rem;
}

.about__details{
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
}

.about__details-content{
    width: 50%;
}

.about__details-content h1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.about__details-content p{
    font-size: 0.9rem;
    font-weight: 400;
}

.about__details-content .btn{
    margin-top: 1rem;
}

.about__details-img{
    width: 50%;
}

.image__about{
    -webkit-filter: drop-shadow(1px 5px 7px #666666);
    filter: drop-shadow(1px 5px 7px #666666);
}

/* CONSULTORIAS */

.consultancys{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 5rem;
}

.consultancy{
    display: flex;
    gap: 10%;
    align-items: center;
}

.consultancy:nth-child(2){
    flex-direction: row-reverse;
}

.consultancy__img{
    min-width: 35%;
}

.consultancy__category{
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.consultancy__title{
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.consultancy__text{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}


/* CONTACT */

.contact{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.contact__form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__form input,
.contact__form textarea {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
}

.contact__form textarea{
    resize: vertical;
}

.contact__details{
    width: 50%;
}

.contact__details .text{
    font-size: 0.9rem;
    color: #2e2e2e;
    margin-bottom: 2rem;
}

.contact__details .details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__details .detail{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.detail__icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.8rem;
    background: #DF558F;
}

.detail:nth-child(2) .detail__icon{
    background: #72C9B2;
}

.detail:nth-child(1) .detail__icon{
    background: #F4A931;
}

.detail__content h3{
    margin: 0;
    line-height: 1;
}

.detail__content p{
    color: #747474;
    font-size: 0.9rem;
}



/* FOOTER */

footer{
    pad: 2rem 0;
}

.footer__content{
    display: grid;
    gap: 4rem;
    grid-template-columns: 2fr 1fr 1fr;
}

.footer__logo{
    width: 120px;
    margin-bottom: 1rem;
}

.footer__text{
    font-size: 0.9rem;
    color: #747474;
    margin-bottom: 1rem;
}

.footer__menu-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: #747474;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: #747474;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

    /* GLOBAL */
    .container{
        padding: 0 1rem;
    }

    section{
        padding-top: 2rem !important;
        padding-bottom: 3rem !important;
    }

    .section-heading{
        font-size: 2rem;
    }

    /* HEADER */

    .header__menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        z-index: 99;
        transform: translateX(100%);
        transition: transform 0.3s;
    }

    .header__menu.show{
        transform: translateX(0);
    }

    .header__menu li{
        margin: 1rem 0;
    }

    .menu-btn{
        display: block;
        z-index: 99;
    }


    /* HERO */

    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__content{
        width: 100%;
        text-align: center;
    }

    .hero__content h1{
        font-size: 2.5rem;
    }

    .hero__content .btn{
        margin: 0 auto;
    }

    .hero__img{
        width: 100%;
    }

    /* ABOUT */

    .features{
        grid-template-columns: repeat(1fr);
    }

    .feature{
        padding: 1rem;
    }

    .about__details{
        flex-direction: column;
    }

    .about__details-content,
    .about__details-img{
        width: 100%;
    }

    /* CONSULTANCY */

    .consultancy{
        flex-direction: column !important;
        gap: 2rem;
    }

    .consultancy__img{
        width: 100%;
        max-width: 300px;
    }

    .consultancy__title{
        font-size: 1.5rem;
    }

    /* CONTACT */

    .contact{
        flex-direction: column;
    }

    .contact__form,
    .contact__details{
        width: 100%;
    }

    /* FOOTER */

    .footer__content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}


